@media (max-width: 992px) {
    .container {
        margin: 0 25px;
    }
}
@media (max-width: 900px) {
    .promo {
        background-position: left;
    }
    .benefits {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 40px;
            max-width: 600px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}
@media (max-width: 720px) {
    .header {
        &__official {
            display: none;
        }
    }
}
@media (max-width: 576px) {
    .container {
        margin: 0 15px;
    }
    .header {
        &__logo {
            margin-right: 20px;
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 7vw;
        }
        &__subheader {
            margin-top: 3vw;
            font-size: 5vw;
            line-height: 5vw;
            text-align: center;
        }
        &__icons {
            width: 380px;
        }
        &__icon {
            width: 33%;
        }
    }
}
@media (max-width: 425px) {
    .header {
        &__phone {
            font-size: 12px;
        }
        .button {
            width: 120px;
            font-size: 11px;
            margin-top: 3px;
        }
    }
    .promo {
        &__wrapper {
            .button {
                width: 100%;
            }
        }
    }
    .section-title {
        font-size: 24px;
    }
    .benefits {
        padding: 50px 0 45px 0;
        &__wrapper {
            margin-top: 40px;
        }
        &__subtitle {
            margin-top: 30px;
        }
    }
}

@media (max-width: 390px) {
    .promo {
        padding-bottom: 70px;
        background-position: 10%;
        &__icons {
            flex-direction: column;
            width: auto;
            margin-top: 40px;
        }
        &__icon {
            width: 100%;
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    
}