* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    /*  Функция minmax() - позволяет определять как минимальное, так и максимальное значение
        какого-то элемента.
        ! При сужении контейнера треки будут менять свою ширину, например, относительно колонок
        (от максимального к минимальному).
    
        Значение "auto-fill" ставится вместо количества колонок/рядов и позволяет
        автоматически переносить треки при сужении экрана, когда для них не остаётся места.
        ---
        Значение "auto-fit" очень похоже на предыдущее, но в таком случае треки всегда
        будут занимать всю ширину контейнера. Они будут растягиваться даже в 1 строку.
    */
    grid-template-rows: repeat(3, minmax(100px, auto));
    /* При использовании значения "auto" треки будут растягиваться по мере необходимости. */
    grid-auto-rows: repeat(3, minmax(100px, auto));
    gap: 10px;
    grid-auto-flow: column;
    /*  Свойство "grid-auto-flow" позволяет указывать, что необходимо использовать для размещения
        элементов в строки или колонки.
        -
        1) grid-auto-flow: row; - по-умолчанию треки сваливаются вниз.
        2) grid-auto-flow: column; - треки выстраиваются в колонки (сверху вниз).
    */
}

.grid-elem {
    /* height: 50px; */
    background-color: rgba(1, 1, 96, 1);
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #000;
    border-radius: 4px;
}