body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

div, p, input, button, form, span, a, ul, li{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}

.header {
    color: #fff;
    padding-top: 63px;
    padding-bottom: 75px;
    background: rgba(78,192,254,1);
    background: -moz-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(78,192,254,1)), color-stop(100%, rgba(55,144,217,1)));
    background: -webkit-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    background: linear-gradient(135deg, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec0fe', endColorstr='#3790d9', GradientType=1 );
}

.offer {
    width: 650px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.title {
    margin-top: 125px;
    font-size: 37px;
    word-spacing: 10px;
    line-height: 1.35em;
}

.title span {
    font-size: 59px;
    line-height: 1.50em;
}

.undertitle {
    width: 450px;
    margin-top: 30px;
    line-height: 1.65em;
}

.btn {
    text-decoration: none;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 15px;
    width: 220px;
    height: 55px;
    background: #ffd429;
    display: block;
    text-align: center;
    padding: 18.5px;
    margin-top: 45px;
    transition: all 0.5s ease;
}

.btn:hover {
    background: #ffce0b;
}

.wrapper {
    display: flex;
    justify-content: space-between;

}

.travel {
    margin-top: 60px;
    width: 640px;
}

.next {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pros {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    text-align: center;
}

.pros-title {
    font-size: 19px;
    margin-top: 17px;
    letter-spacing: 0.05em;
}

.pros-section {
    width: 305px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5em;
}

.pros-text {
    font-size: 15px;
}

.section-title {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.05em;
}

.pros-title2 {
    margin-top: 9px;
}

.pros-title3 {
    margin-top: 8px;
}

.ticket {
    background: #ecf3f8;
    padding-top: 100px;
    padding-bottom: 100px;
}

.form {
    margin: auto;
    width: 340px;
}

.input {
    width: 340px;
    height: 47px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    padding-left: 24px;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    margin-bottom: 15px;
}

.btn-form {
    margin-top: 0px;
    width: 340px;
    height: 55px;
    border: none;
    cursor: pointer;
}

.title-ticket {
    margin-bottom: 63px;
}

.footer {
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #164d7a;
    padding-top: 60px;
    padding-bottom: 55px;
}

.footer p {
    margin: 0;
}