.ui-elements__news-post {
    padding: 13px 0 35px 0;
}

.ui-elements__news-post .search-history {
    margin: 0;
}

.post-foreground {
    margin-bottom: 40px;
}

.post-foreground .wide-canvas {
    width: 100%;
    height: 522px;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    position: relative;
}

.wide-canvas .preview-text {
    width: 645px;
    position: absolute;
    bottom: 57px;
    left: 95px;
}

.preview-text .title {
    font-size: 38px;
    font-weight: 900;
}

.preview-text .indicators-wrapper {
    display: flex;
    margin-top: 25px;
}

.indicators-wrapper .indicator {
    display: flex;
    align-items: center;
    margin-right: 56px;
}

.indicators-wrapper .indicator .indicator-icon {
    flex-shrink: 0;
}

.indicators-wrapper .indicator .indicator-icon.like{
    margin-bottom: 4px;
}

.indicators-wrapper .indicator .indicator-amount {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-left: 10px;
}

.post-foreground .publication-date {
    text-align: right;
    margin-top: 17px;
}

.post-foreground .publication-date p {
    font-size: 17px;
    font-weight: 300;
}

.post-foreground .publication-date p:first-child {
    margin-bottom: 10px;
}

.post-foreground .publication-date p span {
    font-weight: 500;
}

.reading-part {
    margin-bottom: 80px;
}

.reading-part .paragraph {
    background: #fff;
    border-radius: 6px;
    width: 100%;
    margin: 40px 0 40px 0;
    padding: 25px 38px 25px 38px;
}

.reading-part .paragraph:last-child {
    margin-bottom: 0;
}

.reading-part .paragraph .text {
    font-size: 17px;
    font-weight: 300;
    line-height: 33px;
}

.reading-part .gallery-wrapper {
    width: 100%;
    text-align: center;
}

.gallery-wrapper .gallery-image {
    width: 540px;
    height: 540px;
    border-radius: 6px;
    filter: drop-shadow(0px 15px 50px rgba(0, 0, 0, 0.08));
}

.gallery-wrapper .gallery-image.reduced {
    width: 430px;
    height: 430px;
}

.gallery-wrapper .gallery-image:first-child {
    margin-right: 25px;
}

.post-grading .content-wrapper, .post-share .content-wrapper {
    text-align: center;
}

.post-grading .content-wrapper .title, .post-share .content-wrapper .title {
    font-weight: 800;
    margin-bottom: 40px;
}

.post-grading .content-wrapper .options-wrapper {
    display: flex;
    justify-content: center;
}

.post-grading .vote-label {
    display: flex;
    cursor: pointer;
}

.post-grading .vote-label:first-child {
    margin-right: 105px;
}

.post-grading .vote.real {
    display: none;
}

.post-grading .vote.fake {
    content: "";
    display: block;
    width: 130px;
    height: 130px;
    position: relative;
    flex-shrink: 0;
    background-size: cover;
}

.post-grading .vote.fake::before {
    content: "";
    width: 130px;
    height: 130px;
    transition: 0.3s;
    display: block;
    opacity: 0;
    transition: 0.3s;
    background-size: cover;
}

.vote.real:checked + .vote.fake::before {
    opacity: 1;
}

.post-grading .vote.fake.like {
    background-image: url("../img/news-post_img/like-empty-checkbox.svg");
}

.post-grading .vote.fake.like::before {
    background-image: url("../img/news-post_img/like-full-checkbox.svg");
}

.post-grading .vote.fake.dislike {
    background-image: url("../img/news-post_img/dislike-empty-checkbox.svg");
}

.post-grading .vote.fake.dislike::before {
    background-image: url("../img/news-post_img/dislike-full-checkbox.svg");
}

.post-share {
    margin: 80px 0 90px 0;
}

.post-share .icons-wrapper .icon-link {
    margin-right: 30px;

}

.post-share .icons-wrapper .icon-link img {
    width: 70px;
    height: 70px;
}

.post-share .icons-wrapper .icon-link:last-child {
    margin-right: 0;
}

.preview-text .subtitle-mobile {
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    margin-top: 17px;
    display: none;
}

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .wide-canvas .preview-text {
        bottom: 50px;
        left: 60px;
    }
    .gallery-wrapper .gallery-image, .gallery-wrapper .gallery-image.reduced {
        width: 450px;
        height: 450px;
    }
}
/* 768px - 992px */
@media screen and (max-width: 992px) {
    .post-foreground .wide-canvas {
        height: 347px;
    }
    .wide-canvas .preview-text {
        width: 457px;
        bottom: 30px;
        left: 60px;
    }
    .preview-text .title {
        font-size: 28px;
    }
    .preview-text .indicators-wrapper {
        margin-top: 15px;
    }
    .post-foreground {
        margin-bottom: 20px;
    }
    .gallery-wrapper .gallery-image, .gallery-wrapper .gallery-image.reduced {
        width: 330px;
        height: 330px;
    }
    .reading-part {
        margin-bottom: 60px;
    }
    .post-share {
        margin-top: 60px;
    }
}
/* 576px - 768px */
@media screen and (max-width: 768px) {
    .wide-canvas .preview-text {
        bottom: 30px;
        left: 30px;
    }
    .preview-text .title {
        font-size: 25px;
    }
    .gallery-wrapper .gallery-image, .gallery-wrapper .gallery-image.reduced {
        width: 240px;
        height: 240px;
    }
    .reading-part .paragraph {
        padding: 25px;
    }
    .reading-part .paragraph .text {
        font-size: 16px;
    }
}
/* 425px - 576px */
@media screen and (max-width: 576px) {
    .post-foreground {
        margin-bottom: 10px;
    }
    .post-foreground .wide-canvas {
        height: 400px;
    }
    .wide-canvas .preview-text {
        bottom: 50px;
    }
    .wide-canvas .preview-text {
        width: 80%;
    }
    .preview-text .title {
        font-size: 23px;
    }
    .gallery-wrapper .gallery-image.reduced, .gallery-wrapper .gallery-image {
        width: 80%;
        height: 80%;
    }
    .gallery-wrapper .gallery-image:first-child {
        margin: 0 0 40px 0;
    }
    .post-grading .content-wrapper .title, .post-share .content-wrapper .title {
        font-size: 22px;
    }
    .post-grading .vote-label:first-child {
        margin-right: 60px;
    }
    .post-share .icons-wrapper .icon-link img {
        width: 60px;
        height: 60px;
    }
}
/* 320px - 425px */
@media screen and (max-width: 425px) {
    .ui-elements__news-post {
        padding: 7.5px 0 25px 0;
    }
    .ui-elements__news-post .search-history a {
        font-size: 12px;
    }
    .ui-elements__news-post .search-arrow {
        margin: 0 12px 0 12px;
    }
    .wide-canvas .preview-text {
        bottom: 30px;
        left: 20px;
        width: 90%;
    }
    .preview-text .title {
        font-size: 18px;
    }
    .preview-text .subtitle-mobile {
        display: block;
    }
    .preview-text .indicators-wrapper {
        margin-top: 40px;
    }
    .post-foreground .publication-date p {
        font-size: 15px;
    }
    .reading-part .paragraph {
        padding: 15px;
    }
    .reading-part .paragraph .text {
        font-size: 15px;
    }
    .gallery-wrapper .gallery-image.reduced, .gallery-wrapper .gallery-image {
        width: 100%;
        height: 100%;
    }
    .post-grading .vote.fake, .post-grading .vote.fake:before {
        width: 100px;
        height: 100px;
    }
    .post-grading .content-wrapper .title, .post-share .content-wrapper .title {
        margin-bottom: 30px;
    }
    .post-share .icons-wrapper .icon-link {
        margin-right: 20px;
    }
    .post-share .icons-wrapper .icon-link img {
        width: 55px;
        height: 55px;
    }
}