@media (max-width: 992px) {
    .container {
        margin: 0 25px;
    }
    .catalog {
        &__content {
            justify-content: space-between;
        }
        &-item {
            width: 33%;
            margin: 0 0 20px 0;
        }
    }
}

@media (max-width: 925px) {
    .catalog {
        &-item {
            width: 48.7%;
            margin: 0 0 20px 0;
        }
    }
}

@media (max-width: 900px) {
    .promo {
        background-position: left;
    }
    .benefits {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            margin-top: 40px;
            max-width: 600px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .carousel__inner {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .catalog {
        &-item {
            &__descr {
                padding: 0 15px;
            }
        }
    }
}

@media (max-width: 768px) {
    .catalog {
        &__tab {
            &:hover {
                box-shadow: none;
            }
        }
    }
}

@media (max-width: 720px) {
    .header {
        &__official {
            display: none;
        }
    }
    .catalog {
        &-item {
            &__descr {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 660px) {
    .catalog {
        &__tab {
            font-size: 13px;
        }
        &-item {
            &__descr {
                font-size: 12px;
            }
            &__prices {
                width: 50%;
            }
            .button_mini {
                width: 50%;
            }
            &__list {
                li {
                    font-size: 13px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .catalog {
        &-item {
            &__descr {
                font-size: 11px;
            }
        }
    }
    .testimonials {
        &-item {
            display: block;
            text-align: center;
            &__avatar {
                margin-right: 0;
            }
            &__info {
                margin-top: 25px;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        margin: 0 15px;
    }
    .header {
        &__logo {
            margin-right: 20px;
        }
        &__phone {
            font-size: 15px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 7vw;
        }
        &__subheader {
            margin-top: 3vw;
            font-size: 5vw;
            line-height: 5vw;
            text-align: center;
        }
        &__icons {
            width: 380px;
        }
        &__icon {
            width: 33%;
        }
    }
    .consultation {
        min-height: 610px;
        padding: 75px 0 65px 0;
        &__descr {
            font-size: 16px;
        }
        .feed-form {
            width: 100%;
        }
    }
    .section-title_left {
        font-size: 27px;
    }
    .catalog {
        &-item {
            margin-bottom: 1.74vw;
            padding: 3.47vw 3.47vw 4.51vw 3.47vw;
            min-height: 76.39vw;
            &__img {
                height: 34.72vw;
            }
            &__subtitle {
                font-size: 2.78vw;
                margin-top: 3.47vw;
            }
            &__descr {
                margin-top: 2.78vw;
                font-size: 1.840vw;
            }
            &__link {
                font-size: 2.43vw;
            }
            hr {
                margin: 2.95vw 0;
            }
            &__old-price {
                font-size: 2.43vw;
            }
            &__price {
                font-size: 3.47vw;
            }
            .button_mini {
                height: 6.94vw;
                font-size: 2.43vw;
            }
            &__list {
                li {
                    font-size: 2.26vw;
                    margin-bottom: 1.74vw;
                }
            }
            &__back {
                font-size: 2.43vw;
            }
        }
    }
    .testimonials {
        &-item {
            &__review {
                font-size: 15px;
            }
        }
    }
    .footer {
        &__info {
            width: 100%;
            padding: 50px 0 60px 0;
        }
    }
    .modal {
        padding-top: 60px;
        &__close {
            top: 20px;
            right: 20px;
        }
    }
}

@media (max-width: 425px) {
    .header {
        &__phone {
            font-size: 12px;
        }
        .button {
            width: 120px;
            font-size: 11px;
            margin-top: 3px;
        }
    }
    .promo {
        &__wrapper {
            .button {
                width: 100%;
            }
        }
    }
    .section-title {
        font-size: 24px;
    }
    .benefits {
        padding: 50px 0 45px 0;
        &__wrapper {
            margin-top: 40px;
        }
        &__subtitle {
            margin-top: 30px;
        }
    }
    .consultation {
        min-height: 510px;
        padding: 50px 0;
        background-position: -800px;
        &__descr {
            font-size: 14px;
        }
    }
    .section-title {
        font-size: 20px;
    }
    .feed-form {
        input {
            height: 45px;
            font-size: 13px;
        }
    }
    .button_submit {
        height: 50px;
        font-size: 15px;
    }
    .carousel {
        padding: 50px 0;
        .slick-dots {
            li {
                button {
                    width: 40px;
                    height: 40px;
                    border: 1.5px solid #c70101;
                }
            }
        }
    }
    .catalog {
        padding-bottom: 30px;
        &__tabs {
            margin-top: 25px;
        }
        &__tab {
            height: 10.59vw;
            line-height: 10.59vw;
            font-size: 2.9vw;
        }
        &__content {
            margin-top: 9.41vw;
        }
        &-item {
            width: 100%;
            margin-bottom: 5.74vw;
            padding: 4.71vw 4.71vw 6.12vw 4.71vw;
            min-height: 47.06vw;
            &__img {
                height: 47.06vw;
            }
            &__subtitle {
                font-size: 3.76vw;
                margin-top: 4.71vw;
            }
            &__descr {
                margin-top: 3.76vw;
                font-size: 3.29vw;
            }
            &__link {
                margin-top: 2.35vw;
                font-size: 3.29vw;
            }
            hr {
                margin: 4vw 0;
            }
            &__old-price {
                font-size: 3.29vw;
            }
            &__price {
                font-size: 4.71vw;
            }
            .button_mini {
                height: 9.41vw;
                font-size: 3.29vw;
            }
            &__list {
                li {
                    font-size: 3.29vw;
                    margin-bottom: 2.35vw;
                }
            }
            &__back {
                font-size: 3.29vw;
            }
        }
    }
    .testimonials {
        .section-title {
            margin-bottom: 40px;
        }
        &-item {
            margin-bottom: 40px;
            &__review {
                font-size: 14px;
                p {
                    margin-bottom: 7.5px;
                }
            }
        }
    }
    .modal {
        width: 100%;
        padding: 60px 20px 20px 20px;
        &__subtitle {
            font-size: 17px;
        }
        &__descr {
            font-size: 13px;
            margin-top: 5px;
        }
        .feed-form {
            width: 100%;
        }
    }
}

@media (max-width: 390px) {
    .promo {
        padding-bottom: 70px;
        background-position: 10%;
        &__icons {
            flex-direction: column;
            width: auto;
            margin-top: 40px;
        }
        &__icon {
            width: 100%;
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}