@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body, * {
  font-family: 'Roboto', sans-serif;
}
.new-theme a {
  color: #000; }
  .new-theme a:hover {
    text-decoration: underline; }

.new-theme .flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row; }

.new-theme .column {
  display: flex;
  flex-direction: column; }

.new-theme .owl-wrapper-outer {
  border: 0;
  box-shadow: none; }

.new-theme .btn-primary {
  background: #000;
  border: 0;
  color: #fff; }
  .new-theme .btn-primary:hover {
    background: #2f2f2f; }

.new-theme #compare-total {
  display: none; }

.new-theme #list-view,
.new-theme #grid-view {
  background: white !important;
  border: 0;
  box-shadow: none; }

.new-theme .manufacturer-list {
  text-align: center;
  display: inline-block; }
  .new-theme .manufacturer-list img {
    display: block;
    margin-bottom: 10px; }
  .new-theme .manufacturer-list span {
    display: block; }

.new-theme .no-padding {
  padding: 0 !important; }

.new-theme .m-t-20 {
  margin-top: 20px !important; }

.new-theme .pagination li a {
  border: 0;
  color: #000; }

.new-theme .pagination > .active > a, .new-theme .pagination > .active > a:focus, .new-theme .pagination > .active > a:hover, .new-theme .pagination > .active > span, .new-theme .pagination > .active > span:focus, .new-theme .pagination > .active > span:hover {
  background: #000;
  border: 0; }

.new-theme .my-2 {
  margin-top: 20px;
  margin-bottom: 20px; }

.new-theme .header {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 35px; }
  .new-theme .header .right-side,
  .new-theme .header .left-side {
    display: flex;
    width: 40%;
    align-items: center; }
  .new-theme .header .right-side {
    justify-content: flex-end; }
  .new-theme .header .left-side .nav li:first-child a {
    padding-left: 0; }
  .new-theme .header .collapse {
    padding: 0; }
  .new-theme .header a {
    color: #000; }
  .new-theme .header .nav a {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    line-height: 30px; }
    .new-theme .header .nav a:hover {
      background: none;
      text-decoration: underline;
      line-height: 30px; }
  .new-theme .header #logo {
    margin: 0;
    width: 24% !important; }
    .new-theme .header #logo img {
      width: 100%;
      height: 100%; }
  .new-theme .header #search {
    min-width: 200px;
    margin-bottom: 0;
    opacity: 0;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    padding: 20px 550px;
    background: white;
    box-shadow: 0 0 20px 0px #dfdfdf;
    z-index: 99;
    pointer-events: none;
    transition: all .3s ease; }
    .new-theme .header #search .btn {
      background: none;
      border: none;
      padding: 0;
      width: auto;
      margin-left: -30px; }
    .new-theme .header #search .input-lg {
      border-radius: 20px; }
    .new-theme .header #search-icon {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
    .new-theme .header #search.visible {
      opacity: 1 !important;
      top: 0;
      pointer-events: all; }
  .new-theme .header #cart {
    margin-bottom: 0;
    width: auto; }
    .new-theme .header #cart .btn {
      width: auto;
      background: none;
      border: 0;
      text-shadow: none;
      box-shadow: none;
      color: #000;
      padding-right: 0; }
      .new-theme .header #cart .btn:hover {
        text-decoration: underline; }
    .new-theme .header #cart .dropdown-menu {
      background: white; }
    .new-theme .header #cart table tr td {
      vertical-align: middle; }
  .new-theme .header .dropdown-toggle {
    background: #fff !important; }
    .new-theme .header .dropdown-toggle:active, .new-theme .header .dropdown-toggle:focus, .new-theme .header .dropdown-toggle:visited {
      background: #fff !important; }
  .new-theme .header .dropdown-menu.info-dropdown {
    min-width: auto; }
    .new-theme .header .dropdown-menu.info-dropdown li a {
      display: block;
      width: 100%;
      padding: 3px 15px;
      font-size: 12px;
      color: #000 !important;
      white-space: nowrap; }

.new-theme .featured {
  margin: 50px 0; }
  .new-theme .featured .product-layout .product-thumb {
    border: none;
    box-shadow: 0px 0px 17px -5px #ccc;
    border-radius: 10px;
    padding: 30px; }
  .new-theme .featured .product-layout .caption {
    min-height: auto; }
    .new-theme .featured .product-layout .caption a {
      color: #000; }
  .new-theme .featured .product-layout .product-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20px; }
    .new-theme .featured .product-layout .product-bottom button {
      background: none;
      border: none;
      outline: none; }

.new-theme .footer {
  background: white;
  color: #000;
  border: 0;
  padding: 0;
  margin: 30px auto; }
  .new-theme .footer a {
    color: #000; }
  .new-theme .footer .col-sm-4 {
    text-align: center; }

.new-theme #pre-footer {
  padding: 50px 0;
  border-bottom: 1px solid #ccc; }
  .new-theme #pre-footer .pre-footer-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    margin-top: 5px;
    padding: 0; }
    .new-theme #pre-footer .pre-footer-list li {
      list-style-type: none; }
  .new-theme #pre-footer .pre-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-top: 5px; }
    .new-theme #pre-footer .pre-icon-card {
      width: 50px;
      height: 40px;
      display: inline-block;
      float: right; }
  .new-theme #pre-footer .icon-inst {
    background: url("../image/icon-inst.svg") no-repeat center/contain;
    margin-right: 15px; }
  .new-theme #pre-footer .icon-fb {
    background: url("../image/icon-fb.svg") no-repeat center/contain; }
  .new-theme #pre-footer .icon-visa {
    background: url("../image/icon-visa.svg") no-repeat center/contain; }
  .new-theme #pre-footer .icon-mastercard {
    background: url("../image/icon-mastercard.svg") no-repeat center/contain;
    margin-right: 10px; }

.new-theme .breadcrumb {
  background: none;
  border: 0; }
  .new-theme .breadcrumb li::after {
    width: 7px;
    height: 7px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg); }

.new-theme #subscribe {
  width: 300px;
  height: 200px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column; }
  .new-theme #subscribe .subscr-title {
    font-size: 18px;
    text-align: center;
    font-weight: bold; }
  .new-theme #subscribe .input {
    margin: 20px 0;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px; }
  .new-theme #subscribe .button {
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 12px; }
    .new-theme #subscribe .button:hover {
      background: whitesmoke; }

.new-theme.common-home #sliders {
  display: flex; }
  .new-theme.common-home #sliders .sliders-item {
    width: calc(50% - 10px);
    height: 500px;
    display: block; }
    .new-theme.common-home #sliders .sliders-item:first-child {
      margin-right: 10px; }
    .new-theme.common-home #sliders .sliders-item + .sliders-item {
      margin-left: 10px; }
      .new-theme.common-home #sliders .sliders-item + .sliders-item .slider-title {
        text-align: right;
        float: right; }
  .new-theme.common-home #sliders .owl-carousel {
    width: 100%;
    height: 100%;
    background: transparent; }
    .new-theme.common-home #sliders .owl-carousel .owl-wrapper-outer,
    .new-theme.common-home #sliders .owl-carousel .owl-wrapper-outer * {
      width: 100%;
      height: 100%; }
  .new-theme.common-home #sliders .owl-carousel .owl-buttons div i {
    font-size: 20px; }

.new-theme.common-home .featured {
  margin-top: 180px; }
  .new-theme.common-home .featured .text-align-center {
    text-align: center; }

.new-theme .product-layout .product-thumb .button-group {
  border-top: 0;
  display: flex;
  flex-wrap: nowrap;
  background: #fff;
  justify-content: space-between;
  align-items: center; }
  .new-theme .product-layout .product-thumb .button-group a {
    background: #fff;
    width: auto;
    padding: 10px 15px; }

.new-theme .product-layout .product-thumb button[data-original-title="В закладки"],
.new-theme .product-layout .product-thumb button[data-original-title="В сравнение"] {
  display: none; }

.new-theme .product-layout .product-thumb .caption {
  min-height: auto; }

.new-theme .product-layout .product-thumb .price {
  margin: 0;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 14px; }

.new-theme #quickcheckoutconfirm .quickcheckout-heading {
  margin-bottom: 10px; }

@media (max-width: 991px) {
  .new-theme .container {
    width: 100%;
    padding: 0 20px !important;
    margin: 0 !important; }
  .new-theme .header {
    margin-top: 50px; }
    .new-theme .header .logo {
      margin: 0;
      width: 20%;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 9; }
    .new-theme .header .left-side, .new-theme .header .right-side {
      width: 50%; }
    .new-theme .header #search {
      padding: 20px;
      max-width: 100%; } }

.new-theme .for-mobile {
  display: none; }

@media (max-width: 767px) {
  .new-theme .container {
    width: 100%;
    padding: 0 10px !important; }
  .new-theme.common-home #sliders {
    display: flex;
    flex-wrap: wrap; }
    .new-theme.common-home #sliders .sliders-item {
      width: calc(100% - 40px);
      margin: 0 20px 20px;
      height: auto; }
      .new-theme.common-home #sliders .sliders-item + .sliders-item {
        margin-left: 20px;
        margin-top: 60px; }
  .new-theme .header .left-side {
    position: relative; }
    .new-theme .header .left-side .navbar-collapse {
      position: absolute;
      left: 0;
      width: 100%;
      z-index: 10;
      background: white;
      padding: 0; }
      .new-theme .header .left-side .navbar-collapse ul {
        margin: 0; }
        .new-theme .header .left-side .navbar-collapse ul li:first-child a {
          padding-left: 15px; }
  .new-theme .header .right-side .navbar-collapse {
    display: none; }
  .new-theme .for-mobile {
    display: block; }
  .new-theme .for-desktop {
    display: none; } }

    a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
      border-color: unset;
    }


@media screen and (max-width: 767px) {
  body, html {
    overflow-x: hidden;
    height: 100%; }
  .container {
    position: relative; } }


.image-additional {
  margin-left: 20px;
  max-width: calc(25% - 20px);
}

.quickcheckout-content {
  width: 98.5%;
}
.col-sm-3 {
  padding: 7px 0 0 30px;
}

div#checkout {
  margin: 35px 0 0;
}

textarea.form-control {
  height: 66px;
}

.col-xs-12 {
  margin-bottom: 13px;
  padding: 19px 15px 11px!important;
}

input#shipping {
  margin-left: 15px;
}

.or {
  margin-top: 21px;
  font-size: 22px!important;
}

.quickcheckoutmid {
  margin-top: 15px;
}

.quickcheckout-cart tbody td {
  vertical-align: middle;
}

button#button-payment-method {
  margin-left: 20px;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin-bottom: 5px;
}